@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.pattern-future-online {
  position: relative;
}

.button-future-online {
  width: 39.99px;
  height: 39.99px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-future-online > img {
  width: 23.99px;
  height: 23.99px;
  object-fit: contain;
}

.popup-future-online {
  width: 190px;
  height: 122px;
  top: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  left: 50%;
  background-color: rgb(31, 41, 55, 1);
  transform: translateX(-50%);
  z-index: 99999;
}

.loading-overlay {
  @apply absolute top-0 left-0 w-full h-full flex items-center justify-center bg-black/60 z-50
}

.loading-text {
  @apply text-white text-lg
}

.button-popup-future-online {
  font-family: "Poppins", sans-serif !important;
  @apply text-white text-base px-3 py-2 rounded-lg bg-black/30
}

.close-button-future-online {
  @apply absolute p-2 h-6 w-6 flex items-center justify-center right-2 top-2 bg-red-600/30 text-white rounded-full
}

.item-pattern-future-online {
  background-color: #202C33;
  @apply px-4 py-3 flex gap-x-3 relative z-50 max-h-40 ;
  border-top:  1px solid rgba(134, 150, 160, .15);
  border-left: 1px solid rgba(134, 150, 160, .15);
}

.item-pattern-future-online button {
  font-family: "Poppins", sans-serif !important;
  @apply px-2 py-1 rounded-lg text-sm text-white w-fit
}

.item-message-future-online {
  @apply flex gap-2 overflow-y-auto flex-wrap
}

.button-mensagens-future-online {
  @apply bg-purple-500 hover:bg-purple-600
}

.button-midias-future-online {
  @apply bg-green-500 hover:bg-green-600
}

.button-audios-future-online {
  @apply bg-blue-500 hover:bg-blue-600
}

.button-funis-future-online {
  @apply bg-yellow-500 hover:bg-yellow-600
}

.error-message-future-online {
  @apply flex flex-col gap-y-px
}

.error-message-future-online > span {
  @apply text-lg text-white font-bold
}

.error-message-future-online > p {
  @apply text-sm text-white/60
}

.pattern-tabs-future-online {
  @apply flex flex-col gap-y-1 w-full
}

.pattern-tabs-future-online > span {
  font-family: "Poppins", sans-serif !important;
  @apply text-white text-base font-bold w-full text-left
}

.divider-tabs-future-online {
  background-color: rgba(134, 150, 160, .15);
  @apply w-full h-px my-2
}

.tabs-future-online {
  @apply flex gap-2 justify-start flex-wrap w-full max-h-[66px] overflow-y-auto
}

.tab-future-online-button {
  font-family: "Poppins", sans-serif !important;
  @apply px-2 py-1 rounded-lg text-sm h-fit text-white w-fit bg-aqua-100 transition-all hover:bg-aqua-200
}

.tabs-future-online > button > span {
  @apply text-sm
}

.tabs-empty-button-future-online {
  font-family: "Poppins", sans-serif !important;
  border: 1px solid #07ECFF;
  @apply px-2 py-1 rounded-lg text-sm h-fit text-white w-fit hover:bg-aqua-100 transition-all
}

.sidebar-future-online {
  @apply bg-[#202C33] absolute right-[20px] bottom-full px-2 py-3 flex flex-col gap-y-7 rounded-t-md
}

.sidebar-future-online > button {
  @apply text-[#8696A0]
}
